html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}


/* General font styling */
h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 21px;
}


/* Flexbox styling */
body,
.container,
.top-section,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.container {
	max-width: 1200px;
	width: 90%;
}

header h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul li a,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


/* Header styling */
header {
	margin: 0 auto;
	width: 90%;
}

header h1 span {
	color: #77a466;
}

header nav ul {
	/* must zero out to avoid slight off-center due to list element */
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 0 10px;
	display: inline;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}


/* Top Section styling */
.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}


/* Bottom Section styling */
.bottom-section {
	margin: 0 auto;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
	padding-top: 10px;
}

/* moving this to tablet and desktop 
.section-one h4 {
	padding: 10px 0;
} 


.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}


.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}
*/

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/* Footer styling */
footer {
	/* height: 50px; */
	border-top: 3px solid #eee;
	margin: 20px auto;
	/* clear: both; */
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}


/* Tablet styling */
@media all and (min-width:768px) {
	.bottom-section {
		display: flex;
		justify-content: center;
		align-items: start;
		flex-flow: row wrap;
		border-top: 1px solid #eee;
	}
	
	.section-one,
	.section-two,
	.section-three {
	width: 28%;
	height: 100%;
	border: none; /*this clears the top border inherited from mobile version*/
	}

	.section-one {
		padding-right: 20px;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px; /*left and right padding for middle section*/
	}

	.section-three {
		padding-left: 20px;
	}

}

@media all and (min-width: 1200px) {
	/* Desktop styles here */

}