html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}


/* General text styling */
h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 1em;
}

p {
	font-size: .875em;
	line-height: 21px;
}

ul {
	margin: 0;
}


/* Header styling */
header h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 span {
	color: #77a466;
}

header nav ul {
	/* must zero out to avoid slight off-center due to list element */
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 0 20px;
	display: inline;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


/* Top Section styling */
.top-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}


/* Bottom Section styling */
.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/* Footer styling */
footer {
	border-top: 3px solid #eee;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

footer h4 {
	font-size: .875em;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1.25em;
}


/* Tablet styling */
@media all and (min-width:768px) {
	.bottom-section {
		justify-content: space-between;
		align-items: flex-start;
		flex-flow: row wrap;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
	
	.section-one,
	.section-two,
	.section-three {
		flex-basis: 29.25%;
		border-top: none; /* clears the top border inherited from mobile version*/
	}

	/* all sections have 15px padding-top so that section-two header lines up with other section headers */
	.section-one {
		padding: 15px 20px 0 0;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 15px 20px 0 20px; /*left and right padding for middle section*/
	}

	.section-three {
		padding: 15px 0 0 20px;
	}

	footer {
		border: none; /*clears top border inherited from mobile version */
	}

}


/* Desktop styling */
@media all and (min-width: 1200px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	} 

	header nav ul li {
		padding: 0 0 0 20px; /* makes last list item line up with right border */
	}
}